* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: url("../img/background.png");
  backdrop-filter: brightness(1.4);

  display: grid;
  place-items: center;
  color: #ffffff;
}
